.education-main,
.education-certifications,
.education-courses {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #1db954;
  border-radius: 16px;
  padding: 2rem;
  margin: 4rem auto;
  max-width: 1000px; 
  box-shadow: 0 0 15px rgba(29, 185, 84, 0.2);
  position: relative;
  z-index: 1;
  width: 90%;
}

.education-main h2,
.education-certifications h2,
.education-courses h2 {
  border-bottom: 1px solid #1db954;
  margin-bottom: 1rem;
}

.education-main p,
.education-certifications p,
.education-certifications li {
  color: #ccc;
  font-size: 1rem;
  line-height: 1.6;
}

body {
  position: relative;
  background-color: #0c0c0c;
}
